//@import '~bootstrap/scss/bootstrap.scss';

body {
  background-color: black;
  color: #ddd;
  margin: 0px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

input[type='text'], button {
  background-color: #111;
  color: #ddd;
  border: 1px solid lightgray;
}

input:focus, button:focus {
  outline: none;
}

a {
  cursor: pointer;
  color: #00dd00;
}

a:visited {
  color: #00aaaa;
}

a:active {
  color: #00aa00;
}

.github {
  float: right;
  width: 32px;
  height: 32px;
  background-image: url(../images/github.png);
  background-size: 32px;
}

.content {
  padding: 3px;
}

table .header {
  font-weight: bold;
}

.header.center {
  text-align: center;
}

.header.left {
  padding-right: 5px;
}

.dashboard {
  border-bottom: 1px solid #ddd;
  padding: 5px 5px 10px 5px;
}

.spinner {
  width: 16px;
  height: 16px;
  background: url('../images/ajax-loader.gif');
}

.error {
  border: 1px solid red;
  color: red;
  padding: 2px;
}

.panel {
  display: inline-block;
  background-color: rgb(72, 58, 38);
  margin: 3px;
  padding: 3px;

  tr:nth-child(even) > td {
    background-color: #555;
  }

  tr:nth-child(odd) > td {
    background-color: #333;
  }
}

.hidden {
  display: none;
}

.content > .panel {
  margin-right: 0px;
}

.tabstrip {
  vertical-align: top;
  display: inline-block;
  padding-top: 3px;
}

.tabstrip .tab {
  display: block;
  vertical-align: top;
  background-color: #444;
  font-size: 8pt;
  padding: 3px;
  margin-left: 1px;
  margin-bottom: 1px;
}
